.main-menu {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 30%;
    height: 100%;
    button {
        margin: 20px;
        border-radius: 10px;
        font-size: 20px;
    }
        button:hover {
            box-shadow: 5px 5px 5px 5px rgba(158,23,23,0.75);
            -webkit-box-shadow: 5px 5px 5px 5px rgba(158,23,23,0.75);
            -moz-box-shadow: 5px 5px 5px 5px rgba(158,23,23,0.75);
        }
    
}
.char-creation-menu {
    input {
        width: 150px;
        height: 30px;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }
    .stats {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button {
            margin-bottom: 15px;
        }
    }
}